.navbar.navbar-fixed-top.upper-menu(role='navigation')
  .container
    .navbar-header

      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar(style="background-color:white;")
        span.icon-bar(style="background-color:white;")
        span.icon-bar(style="background-color:white;")

      a.navbar-brand(href='/')
        span(style="color:white;") &nbsp; Y

    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li(style="background-color:orange;")
          a(href="#") 菜单一
        li
          a(href="#") 菜单二


