extends ./layouts/default

block content

  .page-header.row(style="margin-top:-10px;")
    .col-sm-8
      h1 我的XX
    .col-sm-4.text-right
      a.btn.btn-success(href="*", style="margin-top:28px;") 按钮

  .table-responsive(style="font-size:120%;")




